spring:
  application:
    name: anqigou-product-service

  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: public
      config:
        server-addr: localhost:8848
        file-extension: yml
        namespace: public
        import-check:
          enabled: false

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/anqigou?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&allowMultiQueries=true
    username: root
    password: root
    druid:
      initial-size: 5
      min-idle: 5
      max-active: 20

  redis:
    host: localhost
    port: 6379
    password:
    database: 0

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.anqigou.product.entity
  configuration:
    map-underscore-to-camel-case: true

elasticsearch:
  host: localhost
  port: 9200

server:
  port: 8083
  servlet:
    context-path: /

logging:
  level:
    root: info
    com.anqigou: debug
